* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

body {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: 500px;
}

#heading {
    margin: 5px;
}

h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

.search-box input {
    width: 70%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-box button {
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    background: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.weather-card {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 25px;
}

.weather-card h2 {
    display: flex;
    align-self: center;
    justify-self: center;
}

.temperature {
    font-size: 60px;
    margin: 10px 0;
    font-weight: 300px;
}

.weather-condition {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    gap: 10px;
    padding-bottom: 20px;
    margin-right: 10px;
}

img {
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.box {
    background: rgba(255, 255, 255, 0.15);
    padding: 12px;
    border-radius: 12px;
}

.box h3 {
    font-size: 18px;
}

.box p {
    font-size: 18px;
    font-weight: 600;
}

.forecast-heading {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 22px;
}

.forecast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.forecast-card {
    background: rgba(255, 255, 255, 0.18);
    padding: 12px 5px;
    border-radius: 15px;
    backdrop-filter: blur(8px);
}

.forecast-card h3 {
    font-size: 28px;
}

.forecast-card p {
    font-weight: 600;
}

@media (max-width: 480px) {
    .forecast {
        grid-template-columns: repeat(3, 1fr);
    }

    * {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}